#container {
    width: 600px;
    margin: 0 auto 0 auto;
}

#nav li {
    list-style-type: none;
    width: 98px;
    padding: 10px;
    background-color: #ffcccc;
    border: solid 1px #990033;
    float: left;
    text-align: center;
}

#nav ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}