a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: #990099;
}

.center_elements {
    text-align: center;
}

#container {
    width : 900px ;
    margin: 0 auto 0 auto;
}

#footer {
    background-color: #CCCCFF;
    text-align: center;
    padding: 5px;
    clear: both;
}

#header {
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px blue solid;
}
#header_title {
    text-align: center;
}
#header_user {
    text-align: right;
}

#main {
    width: 700px;
    float: right;   
}
#main_title {
    border-bottom: 2px solid blue;
    border-left: 6px solid blue;
    padding: 10px 0 0 5px;
    margin-bottom: 10px;
}

#main table, #main td, #main th {
    border: 1px solid blue;
    border-spacing: 0;
    border-collapse: collapse;
}

#nav {
    width: 190px;
    float: left;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav li {
    list-style-type: none;
    padding: 10px;
    background-color: #CCCCFF;
}

.num {
    text-align: right;
}

.right_elements {
    text-align: right;
}