a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: #990099;
}

#container {
    width : 320px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.err {
    color: red;
}

th {
    text-align: right;
}